* {
	box-sizing: border-box;
	margin: 0%;
	padding: 0%;
}

.back {
    background-color: rgba(0, 0, 255, 0.52);
    width: 100%;
    height: 90vh;
}

.botonsumate {
    background-color: #2fffb0;
    width: 100%;
    height: 40px;
    margin: 50%;
    font-family: -webkit-body;
    border-radius: 2px;
}

.botonsumate a {
	text-decoration: none;
    color: black;
}

.menu li a {
    text-decoration: none;
    color: white;
    float: right;
    margin: 0% 3%;
}        

.titulolab {
	text-align: center;
    color: white;
    font-size: 30px;
}

.subtitulonues {
	text-align: center;
    color: white;
    font-size: 18px;
}

.back2 {
	background-color: rgba(0, 0, 0, 0.89);
}

.back3 {
    background-color: rgba(96, 125, 139, 0.53);
    width: 40%;
    height: 80vh;
    margin: 2%;
    border-radius: 3%;
}

.img1 {
    width: 50%;
    height: 25vh;
    margin: 25%;
}

.boxh {
    margin: -20% 0%;
    color: white;
}

.boxp {
    margin: 22% 0%;
    color: white;    
}

.botonlee {
    background-color: #2fffb0;
    border-radius: 2px;
    width: 40%;
    height: 25px;
    font-family: -webkit-body;
    margin: -1% 30%;
}

.botonlee a {
	text-decoration: none;
    color: black;
}

.back7 {
    background-color: black;
    height: 80px;
}

.pf {
    color: white;
    padding: 2% 0%;
}